*{
 margin:0rem;
 padding: 0rem;
}
html{
 font-size:65.2%;
}
 /* flow */
 .flow{
  background-color:black;
  height: 0.5rem;
  width: 100%;
  position: sticky;
  top:0%;
 }
 .box-flow{
  background-color:white;
  height: 0.5rem;
  width: 100%;
 }
.header{
 background-color:brown;
 height: 6rem;
 width: 100%;
 position:sticky;
 top: 0.5rem;
}
.nav-companyName-searchBar h1{
 margin-left: 2rem;
 margin-top: 0.8rem;
 padding-top: 1.5rem;
 color:blue;
 background-color: yellow;
 align-items: center;
 justify-content:center;
}
.nav-companyName-searchBar h1 a{
 text-decoration: none;
}
.nav-companyName-searchBar{
 display: flex;
 position: absolute;
 top: 0;
 left: 0;
}
.nav-companyName-searchBar ul li{
 display: inline-block;
 margin: 0.5rem 0rem ;
 padding: 0rem 1rem 0rem 1rem;
 list-style:none;
 padding-top: 1rem;
 padding-bottom: 1rem;
}
.nav-companyName-searchBar ul li input{
  height: 2.5rem;
  width:18rem;
}
.nav-companyName-searchBar ul li a{
 font-weight: bold;
 font-size:4ren;
 color:blue;
 background-color:wheat;
 text-decoration: none;
}
nav{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-left: 9rem;
}
nav ul li{
 display: inline-block;
 margin: 0.5rem 0rem ;
 padding: 0rem 1rem 0rem 1rem;
 list-style:none;
 padding-top: 1rem;
}
nav ul li a{
 color:white;
 font-size: 1rem;
 text-decoration: none;
 text-transform:uppercase;
 cursor: pointer;
}
nav ul li a img{
 height:3rem;
 width:4rem;
 cursor: pointer;
} 
a:hover{
 color:black;
}
.menu-icon{
 height:5rem;
 width:6rem;
 position: absolute;
 top: 0rem;
 right:0rem;
 padding: 2rem;
 display:none;
 cursor: pointer;
}
@media(max-width:778px){
 nav ul{
  background: linear-gradient(#ef691b,#ff5ef2);
  position: absolute;
  top:45px;
  right:0;
  z-index: 2;
 }
 nav ul{
  width:25%;
  height:100rem;
  border-radius: 1rem;
 
 }
 nav ul li{
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  
 }
 nav ul li a{
  color: #f9f6f6;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
 }
 .menu-icon{
  margin-top: 0px;
  display: block;
  height: 3rem;
  width: 3.5rem;
  position: absolute;
  top: 0px;
 }
 #menuList{
  overflow: hidden;
  transition:0.5s;
 }
}
 @media(max-width:998px){
  html{
   font-size: 55%;
  }
 }
 @media(max-width:768px){
  html{
   font-size: 45%;
  }
 }
 @media(max-width:652px){
  html{
   font-size: 40%;
  }
 }
 /* main-container */
 .main{
  background-color:blue;
  height: 730vh;
  width:100%;
  margin-top:0rem
 }
 .left{
  background-color: aliceblue;
  height:40rem;
  width:30%;
  margin-top: 0%;
  display: inline-block;
  margin-left:3.5rem;
  margin-top:0.5rem;
  border-radius:2rem;
 }
 .left:hover{
  background-color: rgb(141, 58, 113);
  border-radius: 0%;
  color: #f9f6f6;
 }
 .left p{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  align-content: center;
  justify-content: space-between;
 }
 .right{
  background-color:hsl(300, 40%, 96%); 
  height:40rem;
  width:30%;
  display: inline-block;
  margin-left:1rem;
  margin-top: 0.5rem;
  border-radius:2rem;
 }
 .right:hover{
  background-color: rgb(141, 58, 113);
  border-radius: 0%;
  color: #f9f6f6;
 }
 .right p{
  font-size:1.5rem;
  font-weight: bold;
  text-align: center;
  align-content: center;
  justify-content: space-between;
 }
 .left img{
  height:30rem;
  width:100%;
 }
 .right img{
  height:30rem;
  width:100%;
 }
 img:hover{
  border-radius: 8rem;
 }
 button:hover{
  background-color:black;
  color:white;
  cursor: pointer;
 }
 .clothes{
  font-size: 1rem;
  font-weight: bold;
  display:block;
  background-color:yellow;
  height: 4rem;
  width: 93%;
  margin: 0rem 3.5rem;
  overflow: hidden;
 }
 .clothes p{
  font-size:1.5rem;
 }
 /* for women clothes section media */
 @media(max-width:768px){
  .clothes{
   display:block;
   font-size: 4px;
   background-color:yellow;
   height: 4rem;
   width: 93%;
   overflow: hidden;
  }
 }
 /* grocery */
 .grecery-first{
  height: 30rem;
  width: 80%;
  margin-left: 10rem;
  margin-top: 2rem;
  background-color:green; 
 }
 .grecery-first h1{
  text-align: center;
  color:white;
  padding-top:1.5rem;
 }
 .grecery-first p{
  text-align: center;
  color:white;
  padding-top:1rem;
 }
 .grecery-first img{
  position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 95%;
    border-radius:5rem;
 }
  /* footer section */
  .footer-section{
   background-color: black;
   color:white;
   height: 4rem;
   width: 100%;
   position:sticky;
   bottom: 0%;
  }
  .footer-section p{
   padding-top: 1rem;
   justify-items: space-between;
   text-align: center;
   font-size: 2rem;
   font-weight: bold;
  }
  /* footer */
  .footer{
   background-color:black;
   height:20rem;
   width:100%;
   display: flex;
   justify-content: center;
  }
  .footer-left{
    height:20rem;
    width:20rem;
  }
  .footer-left dl{
    text-align: center;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5rem;
    line-height: 2rem;
  }
  .footer-left dl dd a{
    color:white;
    text-decoration:none;
  }
  .footer-middle{
    height:20rem;
    width:20rem;
  }
  .footer-middle dl{
    text-align: center;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5rem;
    line-height: 2rem;
  }
  .footer-middle dl dd a{
    color:white;
    text-decoration:none;
  }
  .footer-right{
    height:20rem;
    width:20rem;
  }
  .footer-right dl{
    text-align: center;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5rem;
    line-height: 2rem;
  }
  .footer-right dl dd a{
    color:white;
    text-decoration:none;
  }
  .mail-us{
    height:19rem;
    width:20rem;
    border-left: 2px solid white;
  }
  .mail-us dl{
    text-align: center;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5rem;
    line-height: 2rem;
  }